{% extends "Default.html" %} {% block main %}

<div class="flex flex-col md:flex-col m-4 gap-4">
  {% for task in tasks %} {% if task.status=="OVERDUE" %}
  <div class="flex flex-col p-4 border border-slate-400 rounded-md shadow-md">
    <div class="flex flex-row">
      <h3 class="p-2 font-medium">{{task.name}}</h3>
      <h5 class="p-2 text-xs align-center mt-1">{{task.deadline}}</h5>
    </div>
    <h4 class="p-2 text-red-700 font-bold">{{task.status}}</h4>
  </div>

  <form method="POST" action="/update_task_status/{{ task.id }}" class="p-2">
    <button type="submit" class="p-2 px-4 bg-blue-500 text-white rounded-md shadow-md">Mark as Done</button>
  </form>
  {% endif %} {% endfor %} {% for task in tasks %} {% if task.status=="PENDING"
  %}
  <div class="flex flex-col p-4 border border-slate-400 rounded-md shadow-md">
    <div class="flex flex-row">
      <h3 class="p-2 font-medium">{{task.name}}</h3>
      <h5 class="p-2 text-xs">{{task.deadline}}</h5>
    </div>
    <h4 class="p-2 text-yellow-700 font-bold">{{task.status}}</h4>
  </div>

  <form method="POST" action="/update_task_status/{{ task.id }}" class="p-2">
    <button type="submit" class="p-2 px-4 bg-blue-500 text-white rounded-md shadow-md">Mark as Done</button>
  </form>
  {% endif %} {% endfor %} {% for task in tasks %} {% if task.status=="DONE" %}
  <div class="flex flex-col p-4 border border-slate-400 rounded-md shadow-md">
    <div class="flex flex-row">
      <h3 class="p-2 font-medium">{{task.name}}</h3>
      <h5 class="p-2 text-xs">{{task.deadline}}</h5>
    </div>
    <h4 class="p-2 text-green-700 font-bold">{{task.status}}</h4>
  </div>
  {% endif %} {% endfor %}
</div>

<form
  method="POST"
  action=""
  class="flex flex-col md:flex-col m-4 gap-4 border border-slate-400 rounded-lg shadow-lg"
>
  {{ form.hidden_tag() }}
  <fieldset class="m-4 flex flex-col">
    <legend class="p-2 font-bold">Add Task!!</legend>

    <div>
      {{form.TaskName.label(class="form-control-label p-2")}}
      {{form.TaskName(class="form-control p-2 border border-slate-400 rounded-lg
      shadow-lg")}}
    </div>

    <div>
      {{form.TaskDeadline.label(class="form-control-label p-2")}}
      {{form.TaskDeadline(class="form-control p-2 border border-slate-400
      rounded-lg shadow-lg")}}
    </div>
  </fieldset>

  <div class="m-4 p-2">
    {{ form.submit(class="p-2 px-6 py-4 flex justify-items-center border
    border-slate-400 rounded-lg shadow-lg bg-cyan-400 font-bold text-md") }}
  </div>
  {% endblock %}
</form>
