<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" />
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <!-- <link href="./output.css" rel="stylesheet" /> -->
    <link
      rel="stylesheet"
      href="{{url_for('static',filename='dist/css/output.css')}}"
    />
  </head>

  <body>
    <header class="flex w-full shadow-lg bg-cyan-300">
      <!-- <div>
        <h1 class="text-3xl font-bold underline">TO DO LIST APP</h1>
      </div> -->
      <div class="w-full sm:flex sm:flex-row">
        <nav
          class="nav-bar w-full flex flex-col sm:px-10 py-4 justify-between sm:flex-row"
        >
          <div class="img-logo">
            <a href="/home">

              <img src="{{url_for('static',filename='logo2.png')}}" alt="Logo" class="h-10 w-10"/>
            </a>
          </div>
          <div
            class="links-container flex gap-2 sm:gap-12 text-sm sm:text-base justify-items-center"
          >
            <a class="" href="/Goals"><i class="fa fa-bullseye"></i> Goals</a>
            <a class="" href="/Notes"><i class="fa fa-sticky-note-o"></i> Notes</a>
            <a class="" href="#"><i class="fa fa-fw fa-search"></i> Groups</a>
            <a class="" href="#"
              ><i class="fa fa-graduation-cap"></i> Courses</a
            >
            <a class="" href="#"><i class="fa fa-user-friends"></i> Friends</a>
            <a class="" href="/profile" ><i class="fa fa-fw fa-user"></i> Profile</a>
          </div>
        </nav>
      </div>
    </header>

    {% with messages=get_flashed_messages(with_categories=true) %} {% if
    messages %} {% for message in messages %}
    <div
      class="alert alert-{{category}} bg-green-100 text-md p-2 border border-green-200"
    >
      {{message}}
    </div>
    {% endfor %} {% endif %} {% endwith %}

    <main class="">
      <div class="main h-full">{% block main %} {% endblock %}</div>

      <div>{% block swaroop %}{% endblock %}</div>
    
    <footer
      class="flex flex-col gap-y-8  md:flex-row justify-around w-full border bg-gray-900 py-8"
    >
      <div class="foot1 p-0 md:p-4">
        <h3 class="text-gray-400 font-bold">Learning Resources</h3>
        <br />
        <h4 class="text-gray-400">
          <a href="https://leetcode.com/" target="_blank">Learning Courses</a>
        </h4>
        <h4 class="text-gray-400">
          <a href="https://leetcode.com/" target="_blank">Practice Problems</a>
        </h4>
      </div>
      <div class="foot2 pl-0 pd:ml-4">
        <h3 class="text-gray-400 font-bold">Programming Tools</h3>
        <br />
        <h4 class="text-gray-400">
          <a href="https://leetcode.com/" target="_blank">Online IDE</a>
        </h4>
        <h4 class="text-gray-400">
          <a href="https://leetcode.com/" target="_blank">Coding Contests</a>
        </h4>
      </div>
      <div class="foot3 pl-0 md:pl-4">
        <h3 class="text-gray-400 font-bold">More</h3>
        <br />
        <h4 class="text-gray-400">
          <a href="https://leetcode.com/" target="_blank">Challenges</a>
        </h4>
        <h4 class="text-gray-400">
          <a href="https://leetcode.com/" target="_blank">Contact Us</a>
        </h4>
      </div>
      <div class="text-gray-400 pl-0 md:pl-4">
        <h3 class="text-gray-400 font-bold">Usage Policy</h3>
        <br />
        <h4 class="text-gray-400">
          <a href="https://leetcode.com/" target="_blank">Privacy Policy</a>
        </h4>
        <h4 class="text-gray-400">
          <a href="https://leetcode.com/" target="_blank">Terms and Conditions</a>
        </h4>
      </div>
    </footer>
  
  </body>
</html>