<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet"/>
</head>


<body>
    <header>
        <div>
            <h1>
                TO DO LIST APP
            </h1>
        </div>
    </header>

    {% with messages=get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{category}}">
                        {{message}}
                    </div>
                {% endfor %}
            {% endif %}
    {% endwith %}


    <main>
        <div class="main">
            {% block main %}
            {% endblock %}
        </div>

        <div>
            {% block footer %}{% endblock %}
        </div>
    </main>
</body>