{% extends "Default.html" %} {% block main %} {% for post in posts %}
<div class="comment-section m-2">
  <div class="post flex flex-col gap-2">
    <div class="op flex m-2 flex-col">
      <h3 class="">{{ post.author }}</h3>
      <p class="ml-2 text-sm">{{ post.text }}</p>
    </div>
    <div class="comments m-2">
      <h4>Comments:</h4>
      <ul>
        {% for comment in post.comments %}
        <li>
          <span class="text-sm">{{ comment.author }}</span>: {{ comment.text }}
        </li>
        {% endfor %}
      </ul>

      <form
        method="POST"
        action="{{ url_for('maint', srNo=post.srNo) }}"
        class="flex flex-col"
      >
        {{ form.hidden_tag() }}
        <div class="Comment flex flex-col gap-2">
          {{ form.Text.label(class="form-control-label text-xs p-2") }} {{
          form.Text(class="form-control") }}
        </div>
        <div>{{ form.submit(class="btn") }}</div>
        <div class="">{{ form.submit(class="btn m-2 p-2") }}</div>
      </form>
    </div>
  </div>
</div>
<button
  class="create-post fixed bottom-8 left-8 h-12 w-12 border rounded-full z-40 bg-cyan-400 top-100"
>
  +
</button>
{% endfor %} {% endblock %}

{% block swaroop %}
    <div>
        <br>
        <h2>Start your Coding <br> journey today</h2>
        <button onclick="window.location.href='https://leetcode.com/'">LEETCODE</button>
        <button onclick="window.location.href='https://codechef.com/'">CODECHEF</button>
        <button onclick="window.location.href='https://codeforces.com/'">CODEFORCES</button>
        <button onclick="window.location.href='https://Hackerrank.com/'">HACKERRANK</button>
    </div>

    <div>
        <div class="Card1">
            <h2>Learn JAVA</h2>
            <p>Get hands-on experience and master <br> the basic syntax of Java to <br> jumpstart your coding journey</p>
            <h4>56.6K+ learners</h4>
            <button>View this course</button>
        </div>
        <div class="Card2">
            <h2>Learn JAVA</h2>
            <p>Get hands-on experience and master <br> the basic syntax of Java to <br> jumpstart your coding journey</p>
            <h4>56.6K+ learners</h4>
            <button>View this course</button>
        </div>
        <div class="Card3">
            <h2>Learn JAVA</h2>
            <p>Get hands-on experience and master <br> the basic syntax of Java to <br> jumpstart your coding journey</p>
            <h4>56.6K+ learners</h4>
            <button>View this course</button>

        </div>
    </div>

{% endblock %}