{% extends "Default.html" %} {% block main %} {% for post in posts %}
<div class="comment-section m-2">
  <div class="post flex flex-col gap-2 border border-slate-400 rounded-md">
    <div class="op flex m-2 flex-col">
      <h3 class="font-bold">{{ post.author }}</h3>
      <p class="ml-2 text-sm">{{ post.text }}</p>
    </div>
    <div class="comments m-2">
      <h4>Comments:</h4>
      <ul>
        {% for comment in post.comments %}
        <li>
          <span class="text-sm font-bold">{{ comment.author }}</span>: {{
          comment.text }}
        </li>
        {% endfor %}
      </ul>

      <form
        method="POST"
        action="{{ url_for('maint', srNo=post.srNo) }}"
        class="flex flex-col"
      >
        {{ form.hidden_tag() }}
        <div class="Comment flex flex-col gap-2">
          {{ form.Text.label(class="form-control-label text-xs p-2") }} {{
          form.Text(class="form-control border border-slate-400 rounded-md") }}
        </div>
        <div class="">
          {{ form.submit(class="btn m-2 p-2 shadow-md bg-cyan-400 rounded-md")
          }}
        </div>
      </form>
    </div>
  </div>
</div>
<button
  class="create-post fixed bottom-8 left-8 h-12 w-12 border rounded-full z-40 bg-cyan-400 top-100"
  onclick="window.location.href='http://127.0.0.1:5000/createPost'"
>
  +
</button>
{% endfor %} {% endblock %} {% block swaroop %}

<div class="mt-40">
  <br />
  <h2 class="m-2 text-center text-lg">Competitive Coding Resources</h2>
  <div class="p-2 flex sm:flex-row gap-4 sm:justify-around flex-col">
    <button
      onclick="window.location.href='https://leetcode.com/'"
      class="p-2 shadow-lg bg-cyan-400 rounded-sm"
    >
      LEETCODE
    </button>
    <button
      onclick="window.location.href='https://codechef.com/'"
      class="p-2 shadow-lg bg-cyan-400 rounded-sm"
    >
      CODECHEF
    </button>
    <button
      onclick="window.location.href='https://codeforces.com/'"
      class="p-2 shadow-lg bg-cyan-400 rounded-sm"
    >
      CODEFORCES
    </button>
    <button
      onclick="window.location.href='https://Hackerrank.com/'"
      class="p-2 shadow-lg bg-cyan-400 rounded-sm"
    >
      HACKERRANK
    </button>
  </div>
</div>

<div class="flex flex-col sm:flex-row p-4 justify-around gap-4 pt-10">
  <div class="Card1 flex flex-col p-4 gap-y-4 border rounded-md shadow-md">
    <h2 class="text-lg font-medium">Learn JAVA</h2>
    <p class="mb-10">
      Get hands-on experience and master <br />
      the basic syntax of Java to <br />
      jumpstart your coding journey
    </p>
    <h4 class="text-xs">56.6K+ learners</h4>
    <button class="p-2 border rounded-md shadow-md">View this course</button>
  </div>
  <div class="Card1 flex flex-col p-4 gap-y-4 border rounded-md shadow-md">
    <h2 class="text-lg font-medium">Learn JAVA</h2>
    <p class="mb-10">
      Get hands-on experience and master <br />
      the basic syntax of Java to <br />
      jumpstart your coding journey
    </p>
    <h4 class="text-xs">56.6K+ learners</h4>
    <button class="p-2 border rounded-md shadow-md">View this course</button>
  </div>
  <div class="Card1 flex flex-col p-4 gap-y-4 border rounded-md shadow-md">
    <h2 class="text-lg font-medium">Learn JAVA</h2>
    <p class="mb-10">
      Get hands-on experience and master <br />
      the basic syntax of Java to <br />
      jumpstart your coding journey
    </p>
    <h4 class="text-xs">56.6K+ learners</h4>
    <button class="p-2 border rounded-md shadow-md">View this course</button>
  </div>
</div>

{% endblock %}
