{%extends "Default.html"%}

{%block main%}
<h3>Textbooks</h3>
</br>
<a href="/static/documents/CCNTb.pdf" download="CCN_Tb.pdf">CCN_Tb</a>
</br>
<a href="/static/documents/CCNTb.pdf" download="LA_Tb.pdf">LA_Tb</a>
</br>
<a href="/static/documents/CCNTb.pdf" download="DAA_Tb.pdf">DAA_Tb</a>
</br>
<a href="/static/documents/CCNTb.pdf" download="PCS_Tb.pdf">PCS_Tb</a>
</br>
</br>

<h3>CCN Notes</h3>
</br>
<a href="/static/documents/CCNTb.pdf" download="Network_Layer_Notes.pdf">Network_Layer_Notes</a>
</br>
<a href="/static/documents/CCNTb.pdf" download="Application_Layer_Notes.pdf">Application_Layer_Notes</a>
</br>
<a href="/static/documents/CCNTb.pdf" download="Data_Link_Layer_Notes.pdf">Data_Link_Layer_Notes</a>
</br>
<a href="/static/documents/CCNTb.pdf" download="Transport_Layer_Notes.pdf">Transport_Layer_Notes</a>
</br>
{%endblock%}