{%extends "Default.html"%} {%block main%}
<div class="whole-profile flex flex-col justify-around md:flex-row m-8 gap-4">

  <div class="prof-show p-2 w-[300px] border border-slate-400 rounded-lg shadow-lg ">
    <img
    src="data:image/jpeg;base64,{{ base64_encoded_image }}"
    alt="Profile Picture"
    class="p-2"
    />
    
    <div class="flex flex-col gap-4">
      <h3 class="p-2"> <span class="font-bold">Username:</span> {{username}}</h3>
      <h3  class="p-2 font-bold">Interests:</h3>
      <h4 class="p-2"><span class="font-bold">1:</span> {{interests[0]}}</h4>
      <h4 class="p-2"><span class="font-bold">2:</span> {{interests[1]}}</h4>
      <h4 class="p-2"><span class="font-bold">3:</span> {{interests[2]}}</h4>
      
      <h4 class="p-2 h-max"><span class="font-bold">Bio:</span> {{bio}}</h4>
    </div>
  </div>
  
  <div class="update-interest flex flex-shrink overflow-hidden border border-slate-400 rounded-lg shadow-lg p-2">
    
    <div>
    <h3 class="font-bold">
    UPDATE YOUR INTERESTS
    <h3>
        <form
        method="POST"
        action=""
        class="flex flex-col gap-4 justify-items-center align-items-center  py-4"
        >
        {{ form.hidden_tag() }}
        <fieldset class="flex flex-col gap-4 m-4 max-w-max">
          <legend
          class="w-full flex p-2 mb-4 justify-center justify-items-center text-lg font-bold"
          >
          Interests
        </legend>
        
        <div class="form flex justify-between max-w-max">
          {{form.inter1.label(class="form-control-label p-2" )}}
          {{form.inter1(class="form-control border border-slate-400 rounded-sm
          shadow-lg p-2")}}
        </div>
        
        <div class="password flex justify-between">
          {{form.inter2.label(class="form-control-label p-2")}}
          {{form.inter2(class="form-control border border-slate-400 rounded-sm
          shadow-lg p-2")}}
        </div>
        
        <div class="password flex justify-between">
          {{form.inter3.label(class="form-control-label p-2")}}
          {{form.inter3(class="form-control border border-slate-400 rounded-sm
          shadow-lg p-2")}}
        </div>
        
          <div class="password flex justify-between">
            {{form.bio.label(class="form-control-label p-2")}}
            {{form.bio(class="form-control border border-slate-400 rounded-sm
            shadow-lg")}}
          </div>
        </fieldset>
        
        <div class="flex justify-center m-4">
          {{ form.submit(class="btn px-6 py-4 flex justify-items-center border
          border-slate-400 rounded-lg shadow-lg bg-cyan-400 font-bold text-md w-18")
        }}
      </div>
    </form>
  </div>
  
</div>
</div>
{%endblock%}

